* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('background.jpg'); /* Adaugă calea către imaginea de fundal */
    background-size: cover; /* Asigură-te că imaginea se întinde pentru a acoperi întreaga zonă */
    background-repeat: no-repeat; /* Evită repetarea imaginii de fundal */
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh; /* Asta va centra conținutul pe întreaga înălțime a ecranului */
}

.title {
    margin-bottom: 20px; /* Adaugăm un spațiu între titlu și buton */
}

.start-button {
    padding: 10px 20px;
    border: none;
    background-color: #0087cc;
    color: white;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.start-button:hover {
    background-color: #ff7b29;
}


.header {
    overflow: hidden;
    text-align: center;
}

.header h1 {
    font-size: 50px;
    padding-right: 80px;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    display: flex;
    position: relative;
}

.topnav a {
    float: center;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: white;
    color: #333; 
}

.topnav a.active {
    background-color: white; 
    color: #333;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    text-align: center;
}

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

table a{
    text-decoration: none;
}

#toggle {
    display: none;
}

@media (min-width: 600px) {
    .topnav {
        display: flex;
        padding-left: 650px;
    }

    label {
        display: none;
    }

    .responsive {
        width: 300px;
        height: 170px;
    }
}

@media (max-width: 600px) {
    label {
        color: #0087cc;
        cursor: pointer;
        display: inline-block;
        font-size: 18px;
        padding: 5px 9px;
        transition: all .15s ease;
    }

    label:hover {
        color: #ff7b29;
    }

    #toggle:checked ~ .topnav {
        display: block;
        background-color: #333;
    }

    #toggle:checked ~ .topnav a.active{
        display: block; 
        color: #333;
        background-color: white;
    }

    #toggle:checked ~ .topnav a{
        display: block; 
        color: white;
    }
    
    .hamburger {
        display: inline-block;
        cursor: pointer;
    }

    .topnav {
        display: none;
    }

    .responsive {
        width: 100%;
        height: auto;
    }
}